/* ==========================================================================
Author's custom styles
========================================================================== */

* {
    font-family: Verdana, Arial, Tahoma, sans-serif;
  }
  
  .app {
    width: 100vw;
    background-color: #999;
    overflow-y: hidden;
    position: absolute;
  }
  
  h1 {
    margin: 0;
  }
  
  h3 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  